.ComoFuncionaFreelancers {
    padding: 3rem 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ComoFuncionaFreelancers__title {
    color: var(--dark);
    font-family: var(--font-secondary);
    font-weight: var(--font-weight-black);
    font-size: var(--font-Xlarge);
    text-align: start;
    padding: 0rem 5%;
    align-self: self-start;
    line-height: 110%;
}

.arrowLeft, .arrowRight {
    position: absolute;
    margin-top: 10rem;
}

.arrowLeft {
    right: 0;
}

.arrowRight {
    left: 0;
}

.ComoFuncionaFreelancersContent {
    width: 100%;
    padding: 2rem 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 35%;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}


.ComoFuncionaFreelancersContent__CardCircle1, .ComoFuncionaFreelancersContent__CardCircle2, .ComoFuncionaFreelancersContent__CardCircle3 {
    min-width: 12rem;
    width: 12rem;
    height: 12rem;
    background-color: var(--esmerald);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40rem;
    padding: 2rem;
    box-shadow: -2px 2px 10px 0px rgba(80,80,80,0.5);
}


.CardCircle__text {
    font-family: var(--font-primary);
    font-size: var(--font-medium2);
    font-weight: var(--font-weight-light);
    text-align: center;
    color: var(--dark);
    line-height: 125%;
}

.span1 {
    font-size: var(--font-medium2);
    font-family: var(--font-secondary);
    color: var(--clear);
    font-weight: var(--font-weight-medium);
    background-color: var(--purple);
    width: fit-content;
    line-height: 120%;
    padding: 0.3rem;
    align-self: center;
    text-align: center;
}

.highlighted {
    font-size: var(--font-medium2);
    font-weight: 600;
}

/* M칩viles est치ndar */
@media (min-width: 481px) {
    .ComoFuncionaFreelancersContent {
        padding: 2rem 20%;
        gap: 5rem;
    }

    .ComoFuncionaFreelancers__title {
        font-size: var(--font-secondary-Xlarge);
    }

}

  /* Tabletas peque침as */
@media (min-width: 768px) {
    .ComoFuncionaFreelancers {
        padding: 4rem 8%;
    }

    .ComoFuncionaFreelancersContent__CardCircle1, .ComoFuncionaFreelancersContent__CardCircle2, .ComoFuncionaFreelancersContent__CardCircle3 {
        min-width: 12rem;
        width: 12rem;
        height: 12rem;
        margin: 2rem 0;
    }

    .arrowLeft, .arrowRight {
        display: none;
    }

    .ComoFuncionaFreelancersContent {
        padding: 2rem 0;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 0rem 1rem;
    }

    .span1 {
        font-size: var(--font-large);
    }

    .ComoFuncionaFreelancers__title {
        font-size: var(--font-secondary-XXlarge);
    }

    /*animaciones de los circulos */
    @keyframes bounce1 {
        0%, 100% {
            transform: translateY(0);
            background-color: var(--esmerald);
        }
        50% {
            transform: translateY(-23px);
        }
    }

    @keyframes bounce2 {
        0%, 100% {
            transform: translateY(0);
            background-color: var(--esmerald);
        }
        50% {
            transform: translateY(-32px);
        }
    }

    @keyframes bounce3 {
        0%, 100% {
            transform: translateY(0);
            background-color: var(--esmerald);
        }
        50% {
            transform: translateY(-28px);
        }
    }
    .ComoFuncionaFreelancersContent__CardCircle1 {
        animation: bounce1 5s infinite ease-in-out;
        transition: background-color 0.10s ease, box-shadow 0.10s ease;
    }

    .ComoFuncionaFreelancersContent__CardCircle2 {
        animation: bounce2 3s infinite ease-in-out;
        transition: background-color 0.6s ease, box-shadow 0.20s ease;
    }

    .ComoFuncionaFreelancersContent__CardCircle3 {
        animation: bounce3 4s infinite ease-in-out;
        transition: background-color 0.15s ease, box-shadow 0.8s ease;
    }
}

  /* Tabletas grandes / Dispositivos peque침os de escritorio */
@media (min-width: 1024px) {
    .ComoFuncionaFreelancers {
        padding: 5rem 10%;
    }

    .ComoFuncionaFreelancersContent__CardCircle1, .ComoFuncionaFreelancersContent__CardCircle2, .ComoFuncionaFreelancersContent__CardCircle3 {
        min-width: 13rem;
        width: 13rem;
        height: 13rem;
        margin: 2rem 0;
    }

}

/* Escritorio */
@media (min-width: 1280px) {
    .ComoFuncionaFreelancers {
        padding: 5rem 14%;
    }
}

/* Pantallas grandes de escritorio */
@media (min-width: 1440px) {
    .ComoFuncionaFreelancers {
        padding: 5rem 14%;
    }

    .ComoFuncionaEmpresasContent__CardCircle1, .ComoFuncionaEmpresasContent__CardCircle2, .ComoFuncionaEmpresasContent__CardCircle3 {
        margin: 2rem 0;
        min-width: 14rem;
        width: 14rem;
        height: 14rem;
        padding: 2rem;
    }
}

/* Pantallas extra grandes */
@media (min-width: 2000px) {
    .ComoFuncionaFreelancers__title {
        align-self: center;
    }
}
