.ImpulzzeFreelancers {
    background-color: var(--clear);
    background-color: var(--clear);
    background-image: url("/images/shapesGroup4.svg");
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 18rem;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0rem;
}

.ImpulzzeFreelancers__title {
    width: 100%;
    color: var(--dark);
    font-family: var(--font-secondary);
    font-weight: var(--font-weight-black);
    font-size: var(--font-large);
    text-align: start;
    max-width: 35rem;
    padding: 0rem 5%;
    align-self: flex-start;
    line-height: 120%;
}

.arrowLeft, .arrowRight {
    position: absolute;
    margin-top: 13rem;
}

.arrowLeft {
    right: 0;
}

.arrowRight {
    left: 0;
}

.ImpulzzeFreelancersContent {
    width: 100%;
    padding: 1rem 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 45%;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}


.text__highlighted {
    font-size: var(--font-small2);
    font-style: italic;
    font-weight: 600;
}


ul {
    margin-top: 0.3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

li {
    margin-left: 1rem;
    list-style: disc;
}

.card__btnContent {
    width: 100%;
    height: 100%;
    margin-top: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


/* M칩viles est치ndar */
@media (min-width: 480px) {
    .ImpulzzeFreelancersContent {
        padding: 2rem 20%;
        gap: 50%;
    }

    .ImpulzzeFreelancers__title {
        font-size: var(--font-Xlarge);
    }

    .arrowLeft, .arrowRight {
        margin-top: 16rem;
    }
}

  /* Tabletas peque침as */
@media (min-width: 768px) {
    .ImpulzzeFreelancers {
        padding: 4rem 8%;
    }

    .arrowLeft, .arrowRight {
        display: none;
    }

    .ImpulzzeFreelancersContent {
        padding: 2rem 0;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
    }

    .ImpulzzeFreelancers__title {
        font-size: var(--font-XXlarge);
        padding: 0rem 0rem;
    }
}

  /* Tabletas grandes / Dispositivos peque침os de escritorio */
@media (min-width: 1024px) {
    .ImpulzzeFreelancers {
        padding: 5rem 10%;
    }

    .ImpulzzeFreelancersContent {
        justify-content: space-evenly;
        gap: 1rem;
    }
}

  /* Escritorio */
@media (min-width: 1280px) {

}

/* Pantallas grandes de escritorio */
@media (min-width: 1440px) {
    .ImpulzzeFreelancers {
        padding: 5rem 14%;
    }
}

/* Pantallas extra grandes */
@media (min-width: 2000px) {

}
