.ComunidadImpulzzeFreelancers {
    background-color: var(--clear);
    padding: 3rem 5%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: flex-start;
}

.ComunidadImpulzzeFreelancers__titles {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.ComunidadImpulzzeFreelancers__subtitle {
    color: var(--purple);
    font-family: var(--font-secondary);
    font-weight: var(--font-weight-black);
    font-size: var(--font-medium);
    text-align: start;
    max-width: 35rem;
}

.ComunidadImpulzzeFreelancers__title {
    color: var(--dark);
    font-family: var(--font-secondary);
    font-weight: var(--font-weight-black);
    font-size: var(--font-large);
    text-align: start;
    max-width: 35rem;
    line-height: 120%;
}

.ComunidadImpulzzeFreelancersContent {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.ComunidadImpulzzeFreelancersContent__text {
    background-color: var(--salmon);
    padding: 4.5rem 3.5rem 5rem 4rem;
    border-radius: 110rem 0 90rem 90rem;
    line-height: 110%;
    display: flex;
    align-items: center;
}

.text {
    height: min-content;
    color: var(--dark);
    font-family: var(--font-primary);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-medium);
}

.highlighted {
    font-style: italic;
    font-family: var(--font-secondary);
    font-size: var(--font-medium2);
}

.ComunidadImpulzzeFreelancersContent__shapes {
    width: auto;
    display: flex;
    justify-content: flex-end;
}

.shapeImage {
    height: auto;
    width: 6rem;
}

.ComunidadImpulzzeFreelancersContent__spans {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.span1 {
    width: 90%;
    text-align: end;
    font-family: var(--font-secondary);
    color: var(--esmerald);
    font-size: var(--font-medium);
    font-weight: var(--font-weight-bold);
    align-self: flex-end;
    line-height: 110%;
}

.span2 {
    width: 90%;
    font-family: var(--font-secondary);
    color: var(--maiz);
    font-size: var(--font-medium);
    font-weight: var(--font-weight-bold);
    align-self: flex-start;
    line-height: 110%;
}

.ul {
    margin-left: 3rem;
}


@media (min-width: 375px) {


}

@media (min-width: 480px) {

    .ComunidadImpulzzeFreelancers__title {
        font-size: var(--font-secondary-Xlarge);
    }

    .span1 {
        width: 80%;
    }

    .span2 {
        width: 80%;
    }

    .shapeImage {
        height: auto;
        width: 6.5rem;
    }

    .ComunidadImpulzzeFreelancersContent__text {
        padding: 4rem 4rem 5rem 5rem;
        height: min-content;
    }
}

  /* Tabletas pequeñas */
@media (min-width: 768px) {
    .ComunidadImpulzzeFreelancers {
        padding: 4rem 8%;
        gap: 1.8rem;
    }

    .ComunidadImpulzzeFreelancers__subtitle {
        font-size: var(--font-large);
    }


    .ComunidadImpulzzeFreelancersContent {
        flex-direction: row-reverse;
        align-items: flex-start;
    }

    .span1 {
        width: 80%;
        font-size: var(--font-large);
    }

    .span2 {
        width: 80%;
        font-size: var(--font-large);
    }

    .shapeImage {
        height: auto;
        width: 7rem;
    }
}

  /* Tabletas grandes / Dispositivos pequeños de escritorio */
@media (min-width: 1024px) {
    .ComunidadImpulzzeFreelancers {
        padding: 5rem 10%;
        gap: 2.1rem;
    }

    .ComunidadImpulzzeFreelancersContent__text {
        height: min-content;
        padding: 4.5rem 3.5rem 5rem 4rem;
        border-radius: 110rem 0 110rem 90rem;
    }

    .ComunidadImpulzzeFreelancersContent__spans {
        width: 100%;
        align-self: center;
    }

    .shapeImage {
        height: auto;
        width: 8rem;
    }

    .span1 {
        width: 100%;
        font-size: var(--font-large);
    }

    .span2 {
        width: 100%;
        font-size: var(--font-large);
    }
}

/* Escritorio */
@media (min-width: 1280px) {
    .ComunidadImpulzzeFreelancersContent__text {
        height: 16rem;
    }

    .shapeImage {
        height: auto;
        width: 8.5rem;
    }
}

/* Pantallas grandes de escritorio */
@media (min-width: 1440px) {
    .ComunidadImpulzzeFreelancers {
        padding: 5rem 14%;
    }

    .span1 {
        font-size: var(--font-large);
    }

    .span2 {
        font-size: var(--font-large);
    }
}

/* Pantallas extra grandes */
@media (min-width: 2000px) {

}
