.Hero {
    background-color: var(--clear);
    background-image: url("@/assets/images/shapesGroup.svg");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 39rem;
    color: var(--clear);
    padding: 7rem 5%;
}

.HeroContent {
    padding-top: 25%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.HeroContent__text {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

h1 {
    color: var(--dark);
    font-family: var(--font-secondary);
    font-size: var(--font-large);
    font-weight: var(--font-weight-black);
    display: flex;
    flex-direction: column;
}

.HeroContent__buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.8rem;
}

.HeroContent__Logotipo{
    width: 100%;
    display: flex;
    justify-content: center;
}

.logotipo {
    background-color: var(--purple);
    width: 8rem;
    height: 8rem;
    padding: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    box-shadow: -2px 2px 10px 0px rgba(80,80,80,0.5);
}

.animatedText {
    background-color: var(--esmerald);
    width: fit-content;
    display: flex;
    align-items: center;        
    height: min-content;
    min-height: 2.1rem;
    padding: 0.4rem 0;
}


@media (min-width: 375px)  {
    .Hero {
        padding: 7rem 5%;
        background-size: 40rem;
    }

    h1 {
        font-size: var(--font-Xlarge);
    }

    .HeroContent {
        padding-top: 22%;
    }
}

@media (min-width: 480px) {
    .Hero {
        background-position: right top;
        padding: 10rem 5%;
        background-size: 48rem;
    }

    h1 {
        font-size: var(--font-XXlarge);
    }

    .HeroContent__Logotipo{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .logotipo {
        width: 10rem;
        height: 10rem;
        padding: 1.3rem;
    }

    .HeroContent {
        padding-top: 19%;
    }

    .HeroContent__text {
        gap: 2rem;
    }

    .HeroContent__buttons {
        flex-direction: row;
    }

    .animatedText {       
        flex-wrap: wrap;
        height: min-content;
        min-height: 2.8rem;
        padding: 0.4rem 0;
    }
}

@media (min-width: 769px) {
    .Hero {
        padding: 14rem 8%;
        background-size: 48rem;
    }

    .HeroContent__text {
        gap: 2rem;
    }

    h1 {
        font-size: var(--font-XXlarge);
    }

    .HeroContent {
        padding-top: 0%;
        flex-direction: row;
        align-items: center;
    }

    .HeroContent__text {
        min-width: 23rem;
    }

    .HeroContent__Logotipo {
        width: 100%;
    }

    .HeroContent__buttons {
        gap: 1.1rem;
    }

    .logotipo {
        width: 11rem;
        height: 11rem;
        padding: 1.5rem;
    }

    .animatedText {       
        flex-wrap: wrap;
        height: min-content;
        min-height: 2.6rem;
        padding: 0.4rem 0;
    }
}

@media (min-width: 1024px) {
    .Hero {
        padding: 6rem 10%;
        background-size: 44rem;
        height: 100vh;
        display: flex;
        flex-direction: row;
    }

    .HeroContent {
        width: 100%;
        align-items: center;
        flex-direction: row;
    }

    .animatedText {       
        flex-wrap: wrap;
        height: min-content;
        min-height: 4.5rem;
        padding: 0.4rem 0;
    }

    .HeroContent__buttons {
        flex-direction: row;
    }

    h1 {
        font-size: var(--font-XXlarge);
    }

    .logotipo {
        width: 13rem;
        height: 13rem;
        padding: 1.8rem;
    }
}

@media (min-width: 1228px) {
    .Hero {
        padding: 6rem 10%;
        background-size: 100vh;
        height: 100vh;
        display: flex;
        flex-direction: row;
    }

    h1 {
        font-size: var(--font-XXXlarge);
    }

    .logotipo {
        width: 15rem;
        height: 15rem;
        padding: 0.2rem;
    }

    .HeroContent__text {
        min-width: 28rem;
    }
}

@media (min-width: 1440px) {
    .HeroContent__text {
        min-width: 29rem;
    }
}

@media (min-width: 2000px) {
    .HeroContent__text {
        min-width: 31rem;
    }

}

@media (min-width: 2560px) {
    .HeroContent__text {
        min-width: 32rem;
    }
}