@use "@styles/colors" as *;
@use "@styles/mixins" as *;
@use "@styles/fonts" as *;


:root {
    font-size: 16px;
}

body {
    min-height: 100%;
    background-color: var(--clear);
}

@media (min-width: 375px) {
    :root {
        font-size: 17px;
    }
}

@media (min-width: 480px) {
    :root {
        font-size: 18px;
    }
}

@media (min-width: 768px) {
    :root {
        font-size: 19px;
    }
}

@media (min-width: 1024px) {
    :root {
        font-size: 20px;
    }
}

@media (min-width: 1228px) {
    :root {
        font-size: 22px;
    }
}

@media (min-width: 1440px) {
    :root {
        font-size: 26px;
    }
}

@media (min-width: 2000px) {
    :root {
        min-width: 28rem;
    }
}

@media (min-width: 2560px) {
    :root {
        min-width: 30rem;
    }
}