.ComoFuncionaEmpresas {
    background-color: var(--clear);
    padding: 3rem 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ComoFuncionaEmpresas__title {
    width: min-content;
    color: var(--dark);
    font-family: var(--font-secondary);
    font-weight: var(--font-weight-black);
    font-size: var(--font-Xlarge);
    text-align: start;
    padding: 0rem 5%;
    align-self: self-start;
    line-height: 110%;
}

.arrowLeft, .arrowRight {
    position: absolute;
    margin-top: 12rem;
}

.arrowLeft {
    right: 0;
}

.arrowRight {
    left: 0;
}

.ComoFuncionaEmpresasContent {
    width: 100%;
    padding: 1rem 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 35%;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.ComoFuncionaEmpresasContent__CardCircle1, .ComoFuncionaEmpresasContent__CardCircle2, .ComoFuncionaEmpresasContent__CardCircle3 {
    min-width: 14.5rem;
    width: 14.5rem;
    height: 14.5rem;
    background-color: var(--salmon);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40rem;
    padding: 3rem;
    box-shadow: -2px 2px 10px 0px rgba(80,80,80,0.5);
}


.CardCircle__text {
    font-family: var(--font-primary);
    font-size: var(--font-medium);
    font-weight: var(--font-weight-medium);
    text-align: center;
    color: var(--dark);
    line-height: 120%;
}

.highlighted {
    font-size: var(--font-medium2);
    font-style: italic;
    font-weight: 600;
}

.ComoFuncionaEmpresas__buton {
    bottom: -4rem;
    position: relative;
    padding: 1.5rem 3rem;
    border-radius: 140rem 60rem 0 0;
    align-self: flex-end;
}

.span1, .span2 {
    font-size: var(--font-large);
    max-width: 20rem;
    font-family: var(--font-secondary);
    color: var(--dark);
    font-size: var(--font-medium2);
    font-weight: var(--font-weight-mediium);
    line-height: 110%;
}

.span1 {
    width: fit-content;
    max-width: 13rem;
    align-self: flex-end;
    text-align: end;
    margin-top: 0.8rem;
    background-color: var(--esmerald);
    padding: 0.3rem;
}

.span2 {
    width: fit-content;
    max-width: 13rem;
    align-self: flex-start;
    background-color: var(--maiz);
    padding: 0.3rem;
}

@media (min-width: 375px) {
    html {
        font-size: 17px;
    }
}

@media (min-width: 480px) {
    .ComoFuncionaEmpresasContent {
        padding: 2rem 20%;
        gap: 50%;
    }

    .ComoFuncionaEmpresas__title {
        font-size: var(--font-secondary-Xlarge);
    }

    .span1, .span2 {
        max-width: 15rem;
    }

    .ComoFuncionaEmpresasContent__CardCircle1, .ComoFuncionaEmpresasContent__CardCircle2, .ComoFuncionaEmpresasContent__CardCircle3 {
        min-width: 15rem;
        width: 15rem;
        height: 15rem;
        padding: 2rem;
    }

    .arrowLeft, .arrowRight {
        margin-top: 14.5rem;
    }
}

@media (min-width: 768px) {
    .ComoFuncionaEmpresas {
        padding: 4rem 8%;
    }

    .ComoFuncionaEmpresas__title {
        font-size: var(--font-XXlarge);
        padding: 0rem 0;
    }

    .arrowLeft, .arrowRight {
        display: none;
    }

    .ComoFuncionaEmpresasContent {
        padding: 2rem 0;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 0rem 0.5rem;
    }

    .ComoFuncionaEmpresas__buton {
        bottom: 0rem;
    }

    .ComoFuncionaEmpresasContent__CardCircle1, .ComoFuncionaEmpresasContent__CardCircle2, .ComoFuncionaEmpresasContent__CardCircle3 {
        margin: 2rem 0;
        min-width: 14.2rem;
        width: 14.2rem;
        height: 14.2rem;
        padding: 1.7rem;
    }


    .CardCircle__text {
        font-size: var(--font-small);
    }

    .span1, .span2 {
        max-width: none;
        max-width: none;
        font-size: var(--font-large);
    }

    /*animaciones de los circulos */
    @keyframes bounce1 {
        0%, 100% {
            transform: translateY(0);
            background-color: var(--salmon);
        }
        50% {
            transform: translateY(-32px);
        }
    }

    @keyframes bounce2 {
        0%, 100% {
            transform: translateY(0);
            background-color: var(--salmon);
        }
        50% {
            transform: translateY(-29px);
        }
    }

    @keyframes bounce3 {
        0%, 100% {
            transform: translateY(0);
            background-color: var(--salmon);
        }
        50% {
            transform: translateY(-38px);
        }
    }
    .ComoFuncionaEmpresasContent__CardCircle1 {
        animation: bounce1 3s infinite ease-in-out;
        transition: background-color 0.5s ease, box-shadow 0.10s ease;
    }

    .ComoFuncionaEmpresasContent__CardCircle2 {
        animation: bounce2 2s infinite ease-in-out;
        transition: background-color 0.6s ease, box-shadow 0.20s ease;
    }

    .ComoFuncionaEmpresasContent__CardCircle3 {
        animation: bounce3 4s infinite ease-in-out;
        transition: background-color 0.15s ease, box-shadow 0.8s ease;
    }
}


@media (min-width: 1024px) {
    .ComoFuncionaEmpresas {
        padding: 5rem 10%;
    }

    .ComoFuncionaEmpresasContent__CardCircle1, .ComoFuncionaEmpresasContent__CardCircle2, .ComoFuncionaEmpresasContent__CardCircle3 {
        margin: 2rem 0;
        min-width: 14rem;
        width: 14rem;
        height: 14rem;
        padding: 1.7rem;
    }


    .CardCircle__text {
        font-size: var(--font-small);
    }


    .ComoFuncionaEmpresas__title {
        font-size: var(--font-XXXlarge);
        padding: 0rem 0;
    }

    .ComoFuncionaEmpresasContent {
        width: 110%;
        gap: 0rem 0.5rem;
    }

    .span1, .span2 {
        font-size: var(--font-large);
    }
}


@media (min-width: 1280px) {
    .ComoFuncionaEmpresasContent__CardCircle1, .ComoFuncionaEmpresasContent__CardCircle2, .ComoFuncionaEmpresasContent__CardCircle3 {
        margin: 2rem 0;
        min-width: 14rem;
        width: 14rem;
        height: 14rem;
        padding: 2rem;
    }

}


@media (min-width: 1440px) {
    .ComoFuncionaEmpresas {
        padding: 5rem 14%;
    }

    .ComoFuncionaEmpresasContent__CardCircle1, .ComoFuncionaEmpresasContent__CardCircle2, .ComoFuncionaEmpresasContent__CardCircle3 {
        min-width: 14.2rem;
        width: 14.2rem;
        height: 14.2rem;
        padding: 2.2rem;
    }
}


@media (min-width: 2000px) {

}

@media (min-width: 2560px) {

}
