.CardFreelancers, .CardFreelancers2 {
    width: 14.5rem;
    min-width: 14.5rem;
    height: 25rem;
    color: var(--dark);
    padding: 1rem 1.6rem 1.6rem;
    border-radius: 85rem 0rem 60rem 60rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    box-shadow: -2px 2px 10px 0px rgba(80,80,80,0.5);
    transition: all 300ms;
    position: relative;
}

.CardFreelancers {
    background-color: var(--maiz);
}

.CardFreelancers2 {
    background-color: var(--salmon);
}

.CardFreelancers:hover {
    background-color: var(--salmon);
    transform: scale(1.05, 1.05);
}

.CardFreelancers2:hover {
    background-color: var(--maiz);
    transform: scale(1.05, 1.05);
}

.CardFreelancers__icon, .CardFreelancers__icon2 {
    background-color: var(--esmerald);
    padding: 0.5rem;
    border-radius: 50rem 50rem 50rem 0rem;
}

.CardFreelancers__title, .CardFreelancers__title2 {
    width: 65%;
    text-align: end;
    font-family: var(--font-secondary);
    font-size: var(--font-medium);
    font-weight: var(--font-weight-black);
    line-height: 110%;
}

.CardFreelancers__text, .CardFreelancers__text2 {
    height: 100%;
    font-family: var(--font-primary);
    font-size: var(--font-small);
    line-height: 120%;
    display: flex;
    flex-direction: column;
}

.CardFreelancers__text2 {
    text-align: center;
}

.badge {
    font-size: var(--font-medium);
    font-family: var(--font-primary);
    background-color: var(--esmerald);
    font-weight: var(--font-weight-bold);
    width: fit-content;
    padding: 0.4rem 0.9rem;
    border-radius: 0.8rem;
    white-space: nowrap;

    position: absolute;
    z-index: 10;
    top: 1rem;
    left: 20%;
    transform: translateX(-50%);
}

@media (min-width: 374px) {


}

@media (min-width: 480px) {
    .CardFreelancers, .CardFreelancers2  {
        width: 16rem;
        min-width: 16rem;
        height: 30rem;
        padding: 1.6rem;
        gap: 0.7rem;
    }
}

@media (min-width: 768px) {
    .CardFreelancers, .CardFreelancers2  {
        width: 14rem;
        min-width: 14rem;
        height: 31rem;
        padding: 1.6rem;
        gap: 0.7rem;
    }
}

@media (min-width: 1024px) {
    .CardFreelancers, .CardFreelancers2  {
        width: 13.5rem;
        min-width: 13.5rem;
        height: 33rem;
        padding: 1.6rem;
        gap: 0.7rem;
    }
}

@media (min-width: 1228px) {


}

@media (min-width: 1440px) {


}

@media (min-width: 2000px) {

    .CardFreelancers, .CardFreelancers2  {
        width: 15.5rem;
        min-width: 15.5rem;
        height: 30rem;
    }
}

@media (min-width: 2560px) {


}
