.CardEmpresas, .CardEmpresas2  {
    width: 12rem;
    min-width: 12rem;
    height: 20rem;
    color: var(--dark);
    padding: 1.6rem;
    border-radius: 0rem 85rem 60rem 60rem;
    gap: 0.7rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-shadow: -2px 2px 10px 0px rgba(80,80,80,0.5);
    transition: all 300ms;
    position: relative;
}

.CardEmpresas {
    background-color: var(--maiz);
}

.CardEmpresas2 {
    background-color: var(--esmerald);
}

.CardEmpresas2:hover {
    background-color: var(--maiz);
    transform: scale(1.05, 1.05);
    z-index: 0;
}

.CardEmpresas:hover {
    background-color: var(--esmerald);
    transform: scale(1.05, 1.05);
    z-index: 0;
}

.CardEmpresas__icon, .CardEmpresas__icon2 {
    background-color: var(--salmon);
    padding: 0.5rem;
    border-radius: 50rem 50rem 50rem 0rem;
}

.CardEmpresas__title, .CardEmpresas__title2 {
    font-family: var(--font-secondary);
    font-size: var(--font-medium);
    font-weight: var(--font-weight-black);
    line-height: 110%;
}

.CardEmpresas__text, .CardEmpresas__text2 {
    font-family: var(--font-primary);
    font-size: var(--font-small);
    line-height: 120%;
}

.CardEmpresas__text2 {
    text-align: center;
}

.badge {
    font-size: var(--font-medium);
    font-family: var(--font-primary);
    background-color: var(--salmon);
    font-weight: var(--font-weight-bold);
    width: fit-content;
    padding: 0.4rem 0.9rem;
    border-radius: 0.8rem;
    white-space: nowrap;

    position: absolute;
    z-index: 10;
    top: 1rem;
    left: 80%;
    transform: translateX(-50%);
}


@media (min-width: 375px) {
    .CardEmpresas, .CardEmpresas2  {
        height: 21rem;
    }
}

@media (min-width: 480px) {
    .CardEmpresas, .CardEmpresas2  {
        width: 13rem;
        min-width: 13rem;
        height: 24.5rem;
        padding: 1.6rem;
        border-radius: 0rem 80rem 60rem 60rem;
        gap: 0.7rem;
    }
}

@media (min-width: 768px) {
    .CardEmpresas, .CardEmpresas2  {
        width: 13rem;
        min-width: 13rem;
        height: 24.5rem;
    }

}

@media (min-width: 1024px) {


}

@media (min-width: 1228px) {


}

@media (min-width: 1440px) {


}

@media (min-width: 2000px) {


}

@media (min-width: 2560px) {


}
