.CardComentario {
    width: 16rem;
    min-width: 16rem;
    height: 18rem;
    background-color: var(--esmerald);
    color: var(--dark);
    padding: 1.6rem;
    border-radius: 0rem 10rem 10rem 10rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-shadow: -2px 2px 10px 0px rgba(80,80,80,0.5);
    transition: all 300ms;
}

.CardComentario:hover {
    transform: scale(1.05, 1.05);
    z-index: 0;
}

.CardComentario__img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.CardComentario__foto {
    max-width: none;
    width: 100%;
    height: 100%;
}

.CardComentario__text {
    color: var(--dark);
    font-family: var(--font-primary);
    font-size: var(--font-small);
    font-weight: var(--font-weight-light);
    font-style: italic;
    line-height: 120%;
}

.CardComentario__name {
    color: var(--dark);
    font-family: var(--font-primary);
    font-size: var(--font-medium2);
    font-weight: var(--font-weight-medium);
    line-height: 120%;
    text-align: center;
}



@media (min-width: 480px) {
    .CardComentario {
        width: 18.5rem;
        min-width: 18.5rem;
        height: 21rem;
    }
}

@media (min-width: 768px) {

}

@media (min-width: 1024px) {

}

@media (min-width: 1228px) {

}

@media (min-width: 1440px) {

}

@media (min-width: 2000px) {

}

@media (min-width: 2560px) {

}
