.RegistrarEmpresa {
    background-color: var(--esmerald);
    padding: 3rem 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
}

.RegistrarEmpresa__titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
}

.RegistrarEmpresa__title {
    color: var(--clear);
    font-family: var(--font-secondary);
    font-weight: var(--font-weight-black);
    font-size: var(--font-large);
    text-align: center;
    max-width: 90%;
    line-height: 120%;
}

.RegistrarEmpresa__subtitle {
    color: var(--dark);
    font-family: var(--font-primary);
    font-weight: var(--font-weight-black);
    font-size: var(--font-medium2);
    text-align: center;
    max-width: 16rem;
    line-height: 120%;
}

.form {
    width: 100%;
    max-width: 24rem;
    background-color: var(--maiz);
    padding: 2rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.col1, .col2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.formInput {
    width: 100%;
    background-color: var(--clear);
    border: none;
    border-radius: 0.4rem;
    padding: 0.7rem;
    color: var(--dark);
    font-family: var(--font-primary);
    font-size: var(--font-medium);
    font-weight: var(--font-weight-medium);
}

.formSubmit {
    width: 100%;
    height: 2.3rem;
    background-color: var(--esmerald);
    border: none;
    border-radius: 0.4rem;
    padding: 0.7rem 1rem;
    color: var(--dark);
    font-family: var(--font-primary);
    font-size: var(--font-medium2);
    font-weight: var(--font-weight-bold);
    text-align: center;
    cursor: pointer;
    display: flex;
    align-self: flex-end;
    transition: all 200ms;
    box-shadow: -2px 2px 4px 0px rgba(80,80,80,0.5);
}

.formSubmit:hover {
    transform: scale(1.02, 1.02);
    box-shadow: -3px 4px 8px 0px rgba(0,0,0,0.5);
}


/* Móviles estándar */
@media (min-width: 480px) {
    .RegistrarEmpresa__title {
        font-size: var(--font-XXlarge);
    }

    .RegistrarEmpresa__subtitle {
        max-width: 65%;
        font-size: var(--font-large);
    }
}

  /* Tabletas pequeñas */
@media (min-width: 768px) {
    .RegistrarEmpresa {
        padding: 4rem 8%;
    }

    .form {
        width: 100%;
        max-width: 40rem;
        flex-direction: row;
        gap: 2rem;
    }

    .col1, .col2 {
        width: 50%;
    }

}

@media (min-width: 1024px) {
    .RegistrarEmpresa__title {
        font-size: var(--font-XXlarge);
    }

    .RegistrarEmpresa {
        padding: 5rem 10%;
    }
}    

@media (min-width: 1280px) {
    
}

@media (min-width: 1440px) {
    .RegistrarEmpresa {
        padding: 5rem 14%;
    }
}

@media (min-width: 2000px) {

    
}

@media (min-width: 2560px) {

    
}