.CasosDeExitoEmpresas {
    background-color: var(--purple);
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
}

.CasosDeExitoEmpresas__title, .CasosDeExitoEmpresas__title2 {
    padding: 0rem 5%;
    color: var(--clear);
    font-family: var(--font-secondary);
    font-weight: var(--font-weight-medium);
    font-size: var(--font-large);
    text-align: start;
    max-width: 35rem;
    align-self: flex-start;
    line-height: 120%;
}

.CasosDeExitoEmpresas__title {
    align-self: flex-start;
}

.CasosDeExitoEmpresas__title2 {
    align-self: flex-end;
}

.arrowLeft, .arrowRight {
    position: absolute;
    margin-top: 12rem;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    outline: none;
    z-index: 50;
}

.arrowLeft {
    right: 0;
}

.arrowRight {
    left: 0;
}

.CasosDeExitoEmpresasContent {
    width: 100%;
    padding: 1rem 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 35%;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.highlighted {
    font-style: italic;
    font-weight: 600;
}


/* M칩viles est치ndar */
@media (min-width: 480px) {
    .CasosDeExitoEmpresasContent {
        padding: 1rem 20%;
        gap: 50%;
    }

    .arrowLeft, .arrowRight {
        margin-top: 14rem;
    }

    .CasosDeExitoEmpresas__title, .CasosDeExitoEmpresas__title2 {
        font-size: var(--font-secondary-Xlarge);
    }
}

  /* Tabletas peque침as */
@media (min-width: 768px) {

    .CasosDeExitoEmpresas {
        padding: 5rem 0;
        gap: 2.5rem;
    }

    .CasosDeExitoEmpresas__title, .CasosDeExitoEmpresas__title2 {
        padding: 0rem 8%;
        max-width: none;
    }

    .arrowLeft, .arrowRight {
        margin-top: 15rem;
    }

    .CasosDeExitoEmpresasContent {
        padding: 1rem 20%;
        gap: 7.5rem;
    }
}

  /* Tabletas grandes / Dispositivos peque침os de escritorio */
@media (min-width: 1024px) {
    .CasosDeExitoEmpresas {
        padding: 6rem 0;
    }

    .CasosDeExitoEmpresas__title, .CasosDeExitoEmpresas__title2 {
        padding: 0rem 10%;
    }

    .arrowLeft, .arrowRight {
        margin-top: 15rem;
    }
}

  /* Escritorio */
@media (min-width: 1280px) {
    /* Estilos para escritorio */
    .CasosDeExitoEmpresas {
        padding: 7rem 0;
    }

    .CasosDeExitoEmpresas__title, .CasosDeExitoEmpresas__title2 {
        padding: 0rem 14%;
    }

    .CasosDeExitoEmpresasContent {
        padding: 1rem 14%;
    }
}
