.HeroFreelancers {
    background-color: var(--purple);
    color: var(--clear);
    padding: 7rem 5%;
}

.HeroFreelancersContent {
    padding-top: 25%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.HeroFreelancersContent__text {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.h1 {
    height: 6rem;
    color: var(--dark);
    font-family: var(--font-secondary);
    font-size: var(--font-Xlarge);
    font-weight: var(--font-weight-black);
    line-height: 120%;
    display: flex;
    flex-direction: column;
}

.HeroFreelancersContent__buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.8rem;
}

.HeroFreelancersContent__Logotipo{
    width: 100%;
    display: flex;
    justify-content: center;
}

.logotipo {
    background-color: var(--esmerald);
    width: 8rem;
    height: 8rem;
    padding: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    box-shadow: -2px 2px 10px 0px rgba(80,80,80,0.5);
}

.animatedText {
    background-color: var(--maiz);
    width: fit-content;
    display: flex;
    align-items: center;
    height: min-content;
    min-height: 2.1rem;
    padding: 0.4rem 0;
}


@media (min-width: 375px)  {
    .HeroFreelancers {
        padding: 7rem 5%;
        background-size: 40rem;
    }

    .h1 {
        font-size: var(--font-Xlarge);
    }

    .HeroFreelancersContent {
        padding-top: 22%;
    }
}

@media (min-width: 480px) {
    .HeroFreelancers {
        background-position: right top;
        padding: 10rem 5%;
        background-size: 48rem;
    }

    .h1 {
        font-size: var(--font-XXlarge);
        height: 10rem;
    }

    .HeroFreelancersContent__Logotipo{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .logotipo {
        width: 12rem;
        height: 12rem;
        padding: 2rem;
    }

    .HeroFreelancersContent {
        padding-top: 19%;
    }

    .HeroFreelancersContent__text {
        gap: 2rem;
    }

    .HeroFreelancersContent__buttons {
        flex-direction: row;
    }

    .animatedText {
        flex-wrap: wrap;
        height: min-content;
        min-height: 2.8rem;
        padding: 0.4rem 0;
    }
}

@media (min-width: 769px) {
    .HeroFreelancers {
        padding: 14rem 8%;
        background-size: 48rem;
    }

    .HeroFreelancersContent__text {
        gap: 2rem;
    }

    .h1 {
        font-size: var(--font-XXlarge);
    }

    .HeroFreelancersContent {
        padding-top: 0%;
        flex-direction: row;
        align-items: center;
    }

    .HeroFreelancersContent__text {
        min-width: 23rem;
    }

    .HeroFreelancersContent__Logotipo {
        width: 100%;
    }

    .HeroFreelancersContent__buttons {
        gap: 1.1rem;
    }

    .logotipo {
        width: 13rem;
        height: 13rem;
        padding: 2rem;
    }

    .animatedText {
        flex-wrap: wrap;
        height: min-content;
        min-height: 2.6rem;
        padding: 0.4rem 0;
    }
}

@media (min-width: 1024px) {
    .HeroFreelancers {
        padding: 6rem 10%;
        background-size: 44rem;
        height: 100vh;
        display: flex;
        flex-direction: row;
    }

    .HeroFreelancersContent {
        width: 100%;
        align-items: center;
        flex-direction: row;
    }

    .animatedText {
        flex-wrap: wrap;
        height: min-content;
        min-height: 4.5rem;
        padding: 0.4rem 0;
    }

    .HeroFreelancersContent__buttons {
        flex-direction: row;
    }

    .h1 {
        font-size: var(--font-XXlarge);
        height: 12rem;
    }

    .logotipo {
        width: 15rem;
        height: 15rem;
        padding: 2.3rem;
    }
}

@media (min-width: 1228px) {

    .h1 {
        font-size: var(--font-XXXlarge);
    }

    .logotipo {
        width: 16rem;
        height: 16rem;
        padding: 0.2rem;
    }

    .HeroFreelancersContent__text {
        min-width: 28rem;
    }
}

@media (min-width: 1440px) {
    .HeroFreelancersContent__text {
        min-width: 29rem;
    }

    .logotipo {
        width: 17rem;
        height: 17rem;
        padding: 0.2rem;
    }
}

@media (min-width: 2000px) {
    .HeroFreelancersContent__text {
        min-width: 31rem;
    }
}

@media (min-width: 2560px) {
    .HeroFreelancersContent__text {
        min-width: 32rem;
    }
}
